/*----estilos de container----*/

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.largura-pagina {
    max-width: 1080px;
    margin: 0 auto;
}

.cabecalho,
.contatos {
    width: 100%;
    background-color: #215aa8;
    height: 60px;
}

.secao {
    margin-bottom: 40px;
}

/*----estilos navegação e menu----*/

.navegacao {
    width: 100%;
    background-color: #ffffff;
    height: 70px;
}

.menu {
    width: 70%;
    margin-top: 16px;
}

.menu li {
    display: inline-block;
    color: #b7b7b7;
    margin-right: 15px;
    height: 20px;
}

/*traço embaixo do link*/
.menu li:hover {
    border-bottom: 2px solid #215aa8;
}

/*tipografia*/
.menu li a {
    color: #b7b7b7;
    text-decoration-line: none;
    font-family: "KimuraSans Regular", Sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.busca {
    width: 30%;
    margin-top: 16px;
    text-align: right;
    float: inline-end;
}

/*estilização busca*/
.busca input {
    background-image: url("../img/lupa\ cinza\ 15px.png");
    background-repeat: no-repeat;
    background-position: 95%;
    height: 36px;
    width: 190px;
    padding: 12px;
    border: 1px solid #d6d6d6;
}

/*----estilos slider----*/

.banner img {
    width: 100%;
    border-radius: 20px;
}

.slick-initialized {
    overflow: hidden;
}

.slick-list {
    width: 100% !important;
}

button.slick-prev,
button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent;
    position: absolute;
    z-index: 9;
    top: 35%;
}

button.slick-prev {
    background-image: url("../img/setaEsquerda.png");
    margin-left: 70px;
}

button.slick-next {
    background-image: url("../img/setaDireita.png");
    margin-left: 940px;
}

.slick-dots {
    width: 50%;
    position: absolute;
    top: 540px;
    left: 71%;
    transform: translateX(-50%);
}

/*estilizacao botao*/
.slick-dots li button {
    font-size: 0px;
    border: 6px solid #ffffff;
    width: 26px;
    height: 26px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}

li.slick-active button {
    background: #215aa8;
}

/*espacamento botoes */
.slick-dots li {
    display: inline-block;
    padding-left: 10px;
}


/*----estilos portfolio----*/

.portfolio {
    width: 100%;
    background-color: #ffffff;
    height: auto;
    overflow: hidden;
}

.bloco-imagem img {
    margin-top: 3em;
    margin-bottom: 0em;
    border-radius: 20px;
    width: 100%;
    height: auto;
}

/*----estilos servicos----
.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
}

.colunas {
    display: flex;
    justify-content: space-around;
}

.colunas>div {
    text-align: center;
    width: 30%;
}
*/
/*----estilos sobre nós----

.sobre-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

/*----estilos contatos----*/
.logo img, .redes-sociais img {
    max-width: 100%;
    margin-top: 15px;
}

.email p {
    color: #ffffff;
    font-family: "KimuraSans Regular", Sans-serif;
    font-size: 19px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0px;
}

/*----estilos de texto----*/

.texto {
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.bloco-texto {
    margin-top: 2em;
}

h1 {
    text-transform: uppercase;
    font-size: 30px;
    color: #b7b7b7;
    font-family: "KimuraSans Regular", Sans-serif;
    margin-bottom: 10px;
}

h1 strong {
    color: #646464;
}

h3 {
    font-family: "KimuraSans Regular", Sans-serif;
}

p {
    font-size: 15px;
    color: #b7b7b7;
    font-family: "KimuraSans Regular", Sans-serif;
}